<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Results List</title>
    </head>
    <body>
        <div>
            <h1>Results List</h1>
            <table class="table table-danger table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Second Name</th>
                        <th scope="col">Percentage</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-th-each="result,iterationStatus : ${results}">
                        <th scope="row" data-th-text="${iterationStatus.count}"></th>
                        <td data-th-text="${result.fname}"></td>
                        <td data-th-text="${result.sname}"></td>
                        <td data-th-text="${result.percentage}"></td>
                        <td data-th-text="${result.resultMsg}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
